$border-color: #b9b9b9;
$background-color: #007a41;
$background-hover: #009b53;

.productDetails {
    width: 100vw;
    height: fit-content;
    padding: 1rem;
    transition: all .3s;
}

// .productDetailsForFlex {}

.productDetailsHead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .6rem .8rem .6rem;

    h1 {
        font-size: 1.6rem;
    }

    img {
        width: 26px;
        margin-left: 20%;
        cursor: pointer;
    }
}


.productDetailsImg {
    width: 100%;
    text-align: center;

    img {
        width: 100%;
        height: 30vh;
        border-radius: 8px;
    }
}

.productDetailsMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
}

.productDetailsHeader,
.productDetailsField2,
.productDetailsField3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.productDetailsHeader {

    h3 {
        font-size: 1.3rem;
    }

    .productDetailsHeaderItems {
        width: 16%;
        display: flex;
        justify-content: space-between;
        // align-items: center;

        img {
            cursor: pointer;

            &:nth-child(1) {
                width: 20px;
            }
        }

        .productDetailsHeaderItemsIMG1 {
            animation: ShowLiked1 .3s;
        }

        .productDetailsHeaderItemsIMG2 {
            animation: ShowLiked2 .3s;
        }
    }
}


.productDetailsFields {
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    padding: .6rem;
    border: 1px solid $border-color;
    border-radius: 8px;
}

.productDetailsField1 {
    padding-bottom: 1rem;

    p {
        padding: .1rem;
        font-size: .9rem;
    }
}

.productDetailsField2 {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
}

// .productDetailsField3 {}

.productDetailsField4 {
    text-align: center;
    width: 100%;
    height: 5vh;
    margin-top: .8rem;

    button {
        background: $background-color;
        border: none;
        border-radius: 4px;
        color: #fff;
        width: 60%;
        height: 100%;
        font-weight: 600;
        transition: all .3s;
        animation: ShowButton .3s;
        cursor: pointer;
    }
}

.productDetailsField4Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: auto;

    button {
        width: 20%;
        height: 100%;
        cursor: pointer;
    }

    img {
        width: 18px;
        cursor: pointer;
    }

    span {
        // height: 100%;
        padding: .2rem .6rem;
        margin: 0 4px;
        border-bottom: 2px solid $background-color;
    }
}

//-------------------keyframes-------------------
@keyframes ShowButton {
    0% {
        width: 0%;
    }
}

@keyframes ShowLiked1 {
    0% {
        width: 24px;
    }
}

@keyframes ShowLiked2 {
    0% {
        width: 22px;
    }
}

//--------------------768px---------------------
@media (min-width : 768px) {

    .productDetailsForFlex {
        display: flex;
        height: 70vh;
    }

    .productDetailsHead {
        padding: 1rem;
        margin-bottom: 1rem;

        img {
            margin: 0 30% 0 4rem;
        }
    }

    .productDetailsImg {
        width: 65%;
        height: 100%;
        padding: 2rem;
        border: 1px solid $border-color;
        border-radius: 8px;
        box-shadow: 4px 4px 12px #6c7f78 inset;

        img {
            height: 100%;
        }
    }

    .productDetailsMain {
        height: fit-content;
        padding-top: 0%;
        width: 35%;
    }

    .productDetailsHeader {
        padding: .4rem .4rem .8rem .8rem;

        h3 {
            font-size: 1.4rem;
        }

        img {
            margin: auto;
        }
    }

    .productDetailsFields {
        width: 100%;
        h4 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1.1rem;
            font-weight: 200;
        }
    }

    .productDetailsField4 {

        button {
            transition: all .3s;

            &:hover {
                background-color: #008b62;
                transition: all .3s;
            }
        }
    }
}