$background-brown: #c4ced2;

.aboutUs {
    width: 100vw;
    height: fit-content;
}

.aboutUsBanner {
    background: url(./img/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;

    p {
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(.3);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.6rem;
        font-weight: bolder;
    }
}

.aboutUsFields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.aboutUsField1 {
    width: 100%;
    padding: .8rem .8rem .1rem .8rem;

    h3 {
        font-weight: bolder;
    }
}

.aboutUsField2 {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;

    p {
        font-size: .8rem;
        line-height: 1.2rem;
        padding-left: .2rem;

        &:nth-child(1) {
            width: 100%;
        }

        &:nth-child(2) {
            width: 180%;
            padding-left: .8rem;
        }
    }
}

.aboutUsField2IMG {
    width: fit-content;
    height: fit-content;
    padding-bottom: .4rem;

    img {
        width: 20vh;
        height: 12vh;
        border-radius: 4px;
    }
}

// .aboutUsField2Text {
//     padding-bottom: .2rem;
// }


.aboutUsField3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: $background-brown;
    margin-top: .4rem;

    img {
        width: 20px;
    }

    span {
        font-size: .7rem;
        text-align: center;
        padding: .2rem;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100vw / 4);
    }
}

//-----------------768px---------------------
@media (min-width : 768px) {

    .aboutUsBanner {
        p {
            font-size: 2rem;
        }
    }

    .aboutUsField1 {
        width: 70%;
        margin: auto;

        h3 {
            font-size: 1.8rem;
        }
    }

    .aboutUsField2 {
        width: 70%;
        margin: auto;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
    
        p {
            font-size: 1.1rem;
            line-height: 2rem;
            padding-left: .4rem;

            &:nth-child(1) {
                width: fit-content;
            }
    
            &:nth-child(2) {
                width: fit-content;
            }
        }
    }

    .aboutUsField2FlexText {
        width: fit-content;
    }
    
    .aboutUsField2IMG {

        img {
            width: 30vw;
            height: 48vh;
        }
    }
    
    .aboutUsField3 {
        padding: 1.6rem 0;
        margin-top: .8rem;
    
        img {
            width: 40px;
        }
    
        span {
            font-size: 1.2rem;
        }
    }
    
}