$border-color: #717171;
$background-color1: #f5f8f7;
$background-color2: #d9ffdecc;
$background-color-green: #417F56;
$text-color-green: #09bc00;
$text-color-H3 :#353535;
$text-color-Span :#717171;
$text-color-P :#A9791C;

.CartMobileDesign {
    padding: 1rem 1.8rem;
    transition: all .3s;
    height: fit-content;
}

.CartMobileDesignHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem .4rem;

    h3 {
        font-size: 1.35rem;
    }

    img {
        width: 22px;
    }
}

.CartMobileDesignFields {
    height: 100%;
    border: 1px solid $border-color;
    border-radius: 10px;
}

.CartMobileDesignField1 {
    height: 34vh;
    width: 100%;
    position: relative;
    padding-top: .4rem;

    .swiper {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .swiper-slide {
        width: 88%;
        margin: 0 auto;
        padding: .2rem;
        background-color: $background-color1;
        // border-radius: 10px;
        border-bottom: 1px solid #b9b9b9;

    }
}

.CartMobileDesignField1Product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.CartMobileDesignField1ProductIMG {
    width: 24%;
    height: 90%;

    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

.CartMobileDesignField1ProductName {
    height: 100%;
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    h4 {
        font-size: 1rem;
        font-weight: 600;
    }

    span {
        font-size: .9rem;
    }
}

.CartMobileDesignField1ProductButtons {
    background-color: antiquewhite;
    height: 60%;
    width: 26%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $background-color2;
    // padding: .2rem;
    transition: all .3s;
    animation: ShowButton .3s;
    
    button {
        height: 100%;
        width: 25px;
        // padding: .2rem .4rem;
        border: none;
        color: $text-color-green;
        background: none;
        font-size: 1.4rem;
        transition: all .3s;

        img {
            width: 15px;
            transition: all .3s;
            animation: ShowButton .3s;
        }
    }

    span {
        color: #078a00;
        padding: .2rem;
        transition: all .3s;
        animation: ShowButton .3s;
        width: 20%;
    }
}

.CartMobileDesignField1ProductButton1 {
    transition: all .3s;
    animation: ShowButton2 .3s !important;
}

.CartMobileDesignField1ProductButton2 {
    animation: ShowButton .3s;
}

.CartMobileDesignField2,
.CartMobileDesignField3,
.CartMobileDesignField4 {

    h3 {
        color: $text-color-H3;
        font-size: 1rem;
    }

    span {
        color: $text-color-Span;
        font-size: .9rem;
    }
}

.CartMobileDesignField2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: .8rem;
    padding: .8rem 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.CartMobileDesignField3 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: .6rem;

    .CartMobileDesignField3Price {
        display: flex;
        justify-content: space-between;
    }

    p {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: $text-color-P;
        padding: .2rem 0;
        font-size: .9rem;
    }

    img {
        width: 18px;
        margin-left: 4px;
    }
}

.CartMobileDesignField4 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: .8rem;

    .CartMobileDesignField4price {
        display: flex;
        justify-content: space-between;
        padding: .6rem 0;
        border-top: 1px solid $border-color;
    }

    button {
        padding: .4rem 0;
        border: none;
        border-radius: 4px;
        background-color: $background-color-green;
        font-size: 1rem;
        color: #fff;

    }
}

//--------------CartMobileDesignFieldsEmpty-----------------
.CartMobileDesignFieldsEmpty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20% 0;
    transition: all .3s;

    p {
        font-size: 1.4rem;
        padding: .6rem 0;
    }

    a {
        text-decoration: none;
        color: $text-color-green;
        padding: .1rem 1.8rem;
        font-size: 1.2rem;
        border: 2px solid $text-color-green;
        border-radius: 8px;
    }
}

//-------------------keyframes---------------------
@keyframes ShowButton {
    0% {
        width: 20px;
    }
}
@keyframes ShowButton2 {
    0% {
        width: 20px;
    }
    100% {
        width: 30px;
    }
}

//----------------------------768px--------------------------------
@media (min-width : 768px) {
    .CartMobileDesign {
        display: none;
    }
}