$background-color: #EDEDED;
$text-color: #717171;
$text-hove-color: #008559;

.meno {
    transition: all .3s;
    animation: Show .3s;
}

.menuLinks {
    padding: 0 1rem;
    background-color: $background-color;

    ul {
        display: flex;
        align-items: baseline;
        list-style-type: none;

        a {
            text-decoration: none;
            color: $text-color;
            padding: .5rem 0;
            margin: 0 .6rem;
            display: block;
            font-size: 1.1rem;
            border: 2px solid $background-color;
            font-weight: 500;
            transition: all .3s;

            &:hover {
                color: $text-hove-color;
                font-weight: 700;
                border-bottom: 2px solid $text-hove-color;
                transition: all .3s;
            }
        }

        li:first-child {
            a {
                color: $text-hove-color;
                font-weight: 700;
                border-bottom: 2px solid $text-hove-color;
            }
        }


    }
}


//---------------keyframes------------------
@keyframes Show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//---------------768px----------------
@media (min-width : 768px) {

    .menuLinks {
        padding: 0 10vw;
    }
}