$background-color: #EDEDED;
$text-color: #353535;
$text-color-green: #417F56;
$text-hover-green: #00b25f;
$border-color : #CBCBCB;
$placeHolder-color : #353535;

.MenuMain {
    position: relative;
    // .MenuMainItems {}

    // .MenuMainSwiper {}

    .swiper {
        padding: .5rem 1rem .5rem 0;
    }

    .swiper-slide {
        width: fit-content !important;

        img {
            width: 14px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $background-color;
            width: fit-content;
            padding: .2rem .4rem;
            border-radius: 12px;
            text-decoration: none;
            color: $text-color;
            font-size: .9rem;
        }
    }
}


//-----------MenuMainSearch------------
.MenuMainSearch {
    position: relative;
    width: 40%;
    margin: auto;
    border: 1px solid $border-color;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    display: none;

    input {
        width: 90%;
        border: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $placeHolder-color;
        }
    }

    img[alt="search photo"] {
        width: 17px;
    }
    img[alt="cross photo"] {
        width: 15px;
        cursor: pointer;
    }

    .MenuMainSearchProducts {
        position: fixed;
        top: 64%;
        left: 0;
        padding: .4rem 14%;
        width: 100vw;
        height: 60vh;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        backdrop-filter: blur(10px);
        background-color: #1ea26234;
        z-index: 10;
        transition: all .3s;
        animation: ShowSearched .3s;
        display: none;

        &::-webkit-scrollbar {
            width: 6px;
            transition: all .3s;
        }
    
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgb(174, 174, 174);
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #6e807b;
            border-radius: 10px;
        }
    }

    .MenuMainSearchNon {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        transition: all .3s;

        p {
            font-size: 1.8rem;
        }

        img {
            width: 200px;
        transition: all .3s;
    }
    }
}

.MenuMainFields {
    padding: .4rem 5vw;
}

.MenuMainField2,
.MenuMainField3,
.MenuMainField4 {

    h3 {
        padding: 1rem 0 .2rem 0;
    }
}

.MenuMainField1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // h3 {    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-color-green;
        font-size: 1.1rem;
        padding: .2rem .5rem;
        border: 1px solid $text-color-green;
        border-radius: 4px;
        transition: all .3s;

        &:hover {
            border: 1px solid $text-hover-green;
            color: $text-hover-green;
            transition: all .3s;
        }
    }

    img {
        margin-left: 4px;
    }
}

.MenuMainFieldCArds {
    display: flex;
    flex-wrap: wrap;
}

//------------keyframes--------------
@keyframes ShowSearched {
    0% {
        transform: translateY(100%);
        backdrop-filter: blur(0);
    }
    
    100% {
        transform: translateY(0%);
    }
}

//------------------768px------------------
@media (min-width : 768px) {
    .MenuMain {
        padding: .5rem 10vw;
    }

    .MenuMainItems {
        display: flex;
    }

    .MenuMainSearch {
        display: flex;
    }

    .MenuMainFields {
        padding: .4rem 1.2vw .4rem 5vw;
    }

    .MenuMainField1 {

        h3 {
            font-size: 1.3rem;
        }

    }
}