$background-color: #EDEDED;
$text-color: #353535;
$text-color-green: #417F56;
$text-hover-green: #00b25f;
$border-color : #CBCBCB;
$placeHolder-color : #353535;

.MenuMain {
    position: relative;
    // .MenuMainItems {}

    // .MenuMainSwiper {}

    .swiper {
        padding: .5rem 1rem .5rem 0;
    }

    .swiper-slide {
        width: fit-content !important;

        img {
            width: 14px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $background-color;
            width: fit-content;
            padding: .2rem .4rem;
            border-radius: 12px;
            text-decoration: none;
            color: $text-color;
            font-size: .9rem;
        }
    }
}

.MenuMainSearch {
    width: 40%;
    margin: auto;
    border: 1px solid $border-color;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    display: none;

    input {
        // width: 90%;
        border: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $placeHolder-color;
        }
    }

    img {
        width: 17px;
    }
}

.MenuMainFields {
    padding: .4rem 5vw;
}

.MenuMainField2,
.MenuMainField3,
.MenuMainField4 {

    h3 {
        padding: 1rem 0 .2rem 0;
    }
}

.MenuMainField1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // h3 {    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-color-green;
        font-size: 1.1rem;
        padding: .2rem .5rem;
        border: 1px solid $text-color-green;
        border-radius: 4px;
        transition: all .3s;

        &:hover {
            border: 1px solid $text-hover-green;
            color: $text-hover-green;
            transition: all .3s;
        }
    }

    img {
        margin-left: 4px;
    }
}

.MenuMainFieldCArds {
    display: flex;
    flex-wrap: wrap;
}


//------------------768px------------------
@media (min-width : 768px) {
    .MenuMain {
        padding: .5rem 10vw;
    }

    .MenuMainItems {
        display: flex;
    }

    .MenuMainSearch {
        display: flex;
    }

    .MenuMainFields {
        padding: .4rem 1.2vw .4rem 5vw;
    }
    
    .MenuMainField1 {
        
        h3 {
            font-size: 1.3rem;
        }
        
    }
}