$background-color-white: #fff;
$border-color : rgba(199, 199, 199, 0.8);
$background-color-green: #417F56;
$background-hover-green :#54976a;

.cardSlider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    overflow: hidden;
    height: 26vh;
    width: 160px;
    background-color: $background-color-white;
    padding-bottom: .4rem;
    border: 1px solid $border-color;

    .cardSliderImg {
        width: 100%;
        height: 60%;

        img {
            width: 100%;
            height: 80%;
        }

        h1 {
            font-size: 1rem;
        }
    }
}

//---------cardSliderFields-----------
.cardSliderFields {
    padding: .1rem .5rem .1rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
}


.cardSliderField1 {
    height: 50%;
    padding-bottom: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        &:nth-child(1) {
            width: 15px;
            cursor: pointer;
            transition: all .3s;
        }
    }

    .cardSliderField1Hearts {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        .cardSliderField1Heart1 {
            animation: ShowLiked1 .25s;
        }

        .cardSliderField1Heart2 {
            animation: ShowLiked2 .25s;
        }

    .cardSliderField1spans {
        display: flex;

        span {
            &:nth-child(1) {
                margin-left: 4px;
                font-size: .7rem;
                color: #b3b3b3;
                text-decoration: line-through;
            }

            &:nth-child(2) {
                padding: .15rem .3rem;
                color: red;
                background-color: rgb(253, 228, 228);
                border-radius: 40%;
                font-size: .75rem;
            }
        }
    }
}

.cardSliderField2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: .3rem 0;

    .cardSliderField2spans {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            color: rgb(0, 0, 0);
            font-size: .9rem;
        }
    }

    img {
        &:nth-child(1) {
            width: 15px;
        }
    }

    span {
        color: rgb(0, 0, 0);
        font-size: .9rem;
    }
}

.cardSliderButton {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3S;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100%;
        padding: 0;
        border: none;
        border-radius: 4px;
        background-color: $background-color-green;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: $background-hover-green;
            transition: all .4s;
        }

        &:nth-child(1) {
            animation: ShowButton2 .1s;
        }
    }

    img {
        width: 20px;
    }

    .cardSliderButtonShow {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .25S;

        span {
            border-bottom: 2px solid $background-color-green;
            padding: 0 .2rem;
        }

        button {
            width: 40%;
            animation: ShowButton2 .3s;
        }
    }
}

//--------------keyframes--------------
// @keyframes ShowButton1 {
//     0% {
//         width: 0%;
//         height: 0;
//     }

//     100% {
//         width: 80%;
//         height: 100%;
//     }
// }

@keyframes ShowButton2 {
    0% {
        height: 10%;
        width: 0;
    }

    100% {
        width: 40%;
        // height: 100%;
    }
}

// @keyframes ShowLiked1 {
//     0% {
//         width: 20px;
//     }

//     100% {
//         width: 15px;
//     }
// }

// @keyframes ShowLiked2 {
//     0% {
//         width: 18px;
//     }

//     100% {
//         width: 15px;
//     }
// }

//----------------------768px--------------------
@media (min-width : 768px) {
    .cardSlider {
        height: 34vh;
        width: 15vw;
    }

    .cardSliderButton {

        button {
            padding: .2rem;
        }
    }
}