$border-color :#ADADAD;
$background-color: #417F56;
$background-hover :#009e5f;
$background-color-green: #417F56;
$background-hover-green :#54976a;

.cardMenu {
    width: 100%;
    height: 100px;
    margin: .4rem 0;
    display: flex;
    border-radius: 4px;
    border: 1px solid $border-color ;
    overflow: hidden;
    background-color: #fff;
}

// .cardMenuOverall {
//     width: 100%;
//     height: 100%;
// }

.cardMenuImg {
    overflow: hidden;
    width: 46%;
    height: 100%;

    img {
        width: 120%;
        height: 100%;
    }
}

.cardMenuFields {
    width: 100%;
    height: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cardMenuField1,
.cardMenuField2,
.cardMenuField3 {
    // padding: .1rem;
}

.cardMenuField1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cardMenuField1Spans {
        display: flex;

        span {

            &:nth-child(1) {
                font-size: .66rem;
                text-decoration: line-through;
                color: #ADADAD;
            }

            &:nth-child(2) {
                color: #C30000;
                background-color: #ffd8d8;
                border-radius: 40%;
                padding: 0 .2rem;
                margin-right: 4px;
                font-size: .8rem;
            }
        }
    }
}

.cardMenuField2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // p {}

    span {
        font-size: .7rem;
    }
}

.cardMenuField3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cardMenuField3Hearts {
        width: 10%;
        
        img {
            width: 16px;
            cursor: pointer;
        }

        .cardSliderField1Heart1 {
            animation: ShowLiked1 .25s;
        }

        .cardSliderField1Heart2 {
            animation: ShowLiked2 .25s;
        }
    }
}

.cardMenuField3Button {
    width: 50%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3S;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 100%;
        padding: 0;
        border: none;
        border-radius: 4px;
        background-color: $background-color-green;
        color: #fff;
        font-size: .9rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: $background-hover-green;
            transition: all .4s;
        }

        &:nth-child(1) {
            font-size: .8rem;
            width: 100%;
            animation: ShowButton1 .2s;
        }
    }

    img {
        width: 16px;
    }

    .cardMenuField3ButtonShow {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .25S;

        span {
            border-bottom: 2px solid $background-color-green;
            padding: 0 .2rem;
            margin: 0 .2rem;
        }

        button {
            width: 40%;
            animation: ShowButton2 .3s ;
        }
    }
}


//--------------keyframes--------------
@keyframes ShowButton1 {
    0% {
        width: 50%;
        // height: 50%;
    }

    100% {
        // width: 10%;
        // height: 100%;
    }
}

@keyframes ShowButton2 {
    0% {
        // height: 10%;
        width: 20%;
    }

    100% {
        // width: 606%;
        // height: 100%;
    }
}

// @keyframes ShowLiked1 {
//     0% {
//         width: 20px;
//     }

//     100% {
//         width: 15px;
//     }
// }

// @keyframes ShowLiked2 {
//     0% {
//         width: 18px;
//     }

//     100% {
//         width: 15px;
//     }
// }

//-------------------768px-----------------
@media (min-width : 768px) {

    .cardMenu {
        width: 49.5%;
        margin: .5rem auto;
        height: 110px;
    }

    .cardMenuFields {
        padding: .8rem;
    }

    .cardMenuField1 {

        h4 {
            font-size: 1.1rem;
        }

        .cardMenuField1Spans {

            span {

                &:nth-child(1) {
                    font-size: .75rem;
                }

                &:nth-child(2) {
                    padding: 0 .4rem;
                    font-size: .9rem;
                }
            }
        }
    }

    .cardMenuField2 {

        p {
            font-size: 1.1rem;
            font-weight: 100;
        }

        span {
            font-size: .9rem;
        }
    }


}

//-------------------768px AND 1180px-----------------
@media (min-width : 768px) and (max-width : 1180px) {

    .cardMenuField3 {

        // button {
        //     padding: .4rem 1rem;
        // }
    }
}