$background-color-green: #77c08f;
$background-color-white: #fff;
$text-color: #68d4a4;

.hamburgerMenu {
    animation: Show .3s;

    img {
        width: 25px;
    }
}

//-------------hamburgerMenuItems---------------
.hamburgerMenuItems {
    position: fixed;
    top: 0;
    right: 0;
    padding: .5rem;
    width: 80vw;
    height: 100vh;
    background: url(../../assets/image/background.3jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s;
    transform: translateX(110%);
    z-index: 1001;

    .tarkhineSvg {
        width: 100%;

        a {
            width: 100%;
            text-align: center;
        }

        img {
            width: 80%;
            padding: 0 2rem 1rem 3rem;
            filter: drop-shadow(4px 4px 8px #38817c);
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
    }

    a {
        text-decoration: none;
        color: $text-color;
        padding: .8rem 0;
        display: block;
        border-bottom: 1px solid $background-color-green;

        &:hover {
            color: rgb(21, 255, 193);
            transition: all .3s;
        }
    }
}

//-----------hamburgerCross-------------
.hamburgerCross {
    position: fixed;
    top: 0rem;
    left: 0rem;
    display: block;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    backdrop-filter: blur(10px);
    background: url(../../assets/image/background.3jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1000;

    img {
        width: 80px;
        height: 70px;
        padding: 0;
        display: block;
    }
}

//------------keyframes------------------
@keyframes Show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ShowBurger {
    0% {
        transform: translateX(110%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes UnShowBurger {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(110%);
    }
}


@keyframes ShowCross {
    0% {
        transform: translateX(-110%);
        opacity: 0;
    }

    100% {
        transform: translateX(-0%);
        opacity: 1;
    }
}

@keyframes UnShowCross {
    0% {
        transform: translateX(0%);
        opacity: .4;
    }

    100% {
        transform: translateX(-110%);
        opacity: 0;
    }
}

//------------showBurger AND showCross---------
#showBurger {
    animation: ShowBurger .3s forwards;
}

#unShowBurger {
    animation: UnShowBurger .3s forwards;
}

#showCross {
    animation: ShowCross .2s forwards;
}

#unShowCross {
    animation: UnShowCross .2s forwards;
}

//---------------768px-----------------------
@media(min-width : 768px) {

    .hamburgerMenu {
        display: none;
    }
}