$background-color-green: #d2f8de;
$background-color-white: #fff;
$boxShadow-color: #dcdcdc;
$text-color: #00463c;
$text-colorTwo: #000000;
$border-color: #069f88;

//----------navbar---------------
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    background-color: $background-color-white;
    box-shadow: 0 .1px 4px $boxShadow-color;
    animation: Show .3s;
    z-index: 1000;
}

//-------------tarkhineSvg----------------
.tarkhineSvg {
    width: 43%;
    text-align: center;

    img {
        width: 70%;
        margin-right: 2rem;
    }
}

//-------------navbarIcons-------------
.navbarIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    .navbarIconsSearch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        img {
            width: 30px;
            height: 100%;
            margin-left: .4rem;
            background-color: $background-color-green;
            padding: .3rem;
            border-radius: 4px;
            display: block;
        }
    }
}

.navbarIconsProfile {
    display: none;
    position: relative;
    background-color: $background-color-green;
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
    width: 40px;
    padding: .1rem;

    img {
        display: block;

        &:nth-child(1) {
            width: 60%;
            height: 100%;
        }

        &:nth-child(2) {
            width: 40%;
        }
    }
}

.navbarMenuItemsProfile {
    position: absolute;
    top: 5rem;
    left: 6.6rem;
    background-color: $background-color-white;
    padding: .8rem;
    list-style-type: none;
    box-shadow: 2px 0 4px $boxShadow-color;
    border-radius: 4px;

    li {
        display: flex;
        align-items: center;
        border-bottom: solid 1px $boxShadow-color;
        width: 100%;
    }

    a {
        padding: .4rem 0;
        text-decoration: none;
        color: $text-colorTwo;
        margin-right: 4px;
        font-size: .9rem;
    }
}

//-----------hamburgerMenuField----------
.hamburgerMenuField {
    display: block;
}

//-----------navbarMenuItems--------------
.navbarMenuItems {
    display: none;
    width: 45%;

    img {
        width: 20px;
        transition: all .3s;
        cursor: pointer;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
    }

    li {
        display: flex;
        align-items: center;

    }

    a {
        text-decoration: none;
        color: $text-color;
        margin-left: 4px;
        transition: all .3s;

        &:hover {
            color: $border-color;
            box-shadow: 0 2px 0 $border-color ;
            padding: 0 .5rem;
            transition: all .3s;
        }

    }
}

//--------------#navbarIconsAdd-------------
#navbarIconsAdd {
    color: $border-color;
    box-shadow: 0 2px 0 $border-color ;
    padding: 0 .5rem;
    font-weight: bolder;
}



//------------------keyframes------------------
@keyframes Show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

//--------------768px-----------------
@media (min-width : 768px) {

    .navbar {
        padding: 1.2rem 8%;
    }

    .tarkhineSvg {
        width: 14%;
    }

    .navbarIcons {}

    .navbarIconsProfile {
        display: flex;
    }

    .hamburgerMenuField {
        display: none;

    }

    .navbarMenuItems {
        display: block;
    }
}

//------------768px AND 1180px-----------------
@media (min-width : 768px) and (max-width : 1180px) {

    .navbar {
        padding: .8rem .5rem;
    }

    .tarkhineSvg {
        width: 18%;
    }

    .navbarMenuItems {

        // width: 0%;
        a {
            font-size: .8rem;
        }
    }


}