$text-placeHolder: #dcdcdc;
$text-color-white: #fff;
$font-weight: 100;
$border-color: #797979;

//---------------footerDetails-------------------
.homePageFooterBackground {
    background: url(../assets//image/background-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 19vh;
}

//--------------homePageFooter-----------------
.homePageFooter {
    // height: 18vh;
    padding: .5rem 1rem;
    backdrop-filter: brightness(.4);
    position: relative;

    h1 {
        font-size: 1.1rem;
        color: $text-color-white;
        font-weight: $font-weight;
    }
}

//---------------footerField1-----------------
.footerField1 {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;

    ul {
        list-style: none;
        text-align: start;
        padding-right: 1rem;
    }

    a {
        text-decoration: none;
        color: $text-color-white;
        font-size: .8rem;
        padding: .2rem;
        display: inline-block;
        font-weight: 100;
    }

    img {
        width: 18px;
    }
}

//---homePageFooterSection1------
.homePageFooterSection1 {
    height: 100%;
}

//--------------footerField2-------------
.footerField2 {
    display: none;
    width: 50%;
    height: 100%;

}

//----footerField2Details---
.footerField2Details {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1 {
        text-align: start;
    }
}

.footerDetails {
    display: flex;
    height: 70%;
}

.footerDetailsInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;

    input {
        padding: .3rem .5rem;
        width: 90%;
        background: none;
        border: 1px solid $border-color;
        border-radius: 4px;
        color: $text-color-white;

        &::placeholder {
            color: $text-placeHolder;
        }
    }
}

.footerField2Massage {
    height: 100%;
    width: 50%;

    input {
        width: 90%;
        height: 100%;
        background: none;
        border: 1px solid $border-color;
        border-radius: 4px;
        padding: .5rem;
        color: $text-color-white;

        &::placeholder {
            color: $text-placeHolder;
        }
    }
}

.footerField2Button {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    margin-top: .6rem;
    
    button {
        padding: .3rem 2.6rem;
        border: 1px solid $border-color;
        border-radius: 4px;
        background: none;
        color: $text-color-white;
    }
}


// //-----------------768px-----------------
@media (min-width : 768px) {

    .homePageFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32vh;
        padding: .5rem 4rem;

        h1 {
            font-size: 1.8rem;
        }

        a {
            font-size: 1.3rem;
            padding: .4rem 0;
        }

        img {
            width: 26px;
            margin-left: .4rem;
        }
    }

    .footerField1 {
        width: 40%;
    }

    .footerField2 {
        display: flex;
        flex-direction: column;
    }

}



//-----------------768px AND 1180px-----------------
@media (min-width : 768px) and (max-width : 1180px) {

    .homePageFooter {
        padding: .5rem 1rem;
        height: 27vh;

        h1 {
            font-size: 1.5rem;
        }

        a {
            font-size: 1rem;
        }

        img {
            width: 22px;
        }
    }

    .footerField2Button {
        margin-top: .5rem;
    }
}