$text-color: #003a2f;
$text-colorTwo: #506965;
$border-color : #cecece;

.homePageTerkhinehTour {
    width: 100vw;
    padding: 1rem 1.4rem;

    h1 {
        padding: .5rem;
        font-size: 1.6rem;
        color: $text-color;
    }
}

.homePageTerkhinehTourItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.homePageTerkhinehCard {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $text-color;
    margin: .5rem 0;
    border: 1px solid $border-color;
    border-radius: 4px;
    overflow: hidden;
    transition: all .3s;

    &:nth-child(1) {
        border: 1px solid #417F56;
    }

    div {
        &:nth-child(1) {
            width: 46%;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }

        }

        &:nth-child(2) {
            width: 60%;
            height: 100%;
            padding: .5rem .2rem;


            h2 {
                font-size: 1.1rem;
                margin-bottom: .4rem;
            }

            span {
                padding: .2rem;
                font-size: .8rem;
                color: $text-colorTwo;
            }
        }
    }
}



//-----------------768px-----------------
@media (min-width : 768px) {

    .homePageTerkhinehTour {

        h1 {
            margin: .8rem;
        }
    }

    .homePageTerkhinehTourItems {
        flex-direction: row;

        a {
            flex-direction: column;
            width: 20vw;
            height: 300px;
            margin: 0 1rem;

            div {
                &:nth-child(1) {
                    width: 100%;
                    height: 50%;
                }

                &:nth-child(2) {
                    width: 100%;
                    height: 50%;

                    h2 {
                        margin: .8rem;
                    }

                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}