$border-color : #CBCBCB;
$placeHolder-color : #353535;

//-----------------homePageSearch------------------
.homePageSearch {
    padding: .8rem;
    // position: fixed;
    top: 4rem;
    z-index: 200;
    width: 100%;
}

//------------homePageInputSearch-----------------
.homePageInputSearch {
    width: 96%;
    margin: auto;
    border: 1px solid $border-color;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    padding: .5rem;
    
    input {
        width: 85%;
        border: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $placeHolder-color;
        }
    }

    img {
        width: 18px;

        &:nth-child(1) {
            width: 16px;
            display: none;
        }
    }
}

.homePageInputSearchProducts {
    position: absolute;
    right: 0;
    margin-top: .4rem;
    width: 100%;
    height: 80vh;
    overflow: auto;
    background-color: #ffffff76;
    backdrop-filter: blur(22px);
    padding: .2rem .4rem;
    z-index: 10;
    transition: all .3s;
    animation: ShowSearched .3s;
    display: none;

    &::-webkit-scrollbar {
        width: 6px;
        transition: all .3s;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(174, 174, 174);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #6e807b;
        border-radius: 10px;
    }
}

//-----------homePageInputSearchNon------------
.homePageInputSearchNon {
    width: 100%;
    // height: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;

    p {
        font-size: 1.2rem;
    }
    
    img {
        width: 50%;
        transition: all .3s;
    }
}

//------------keyframes--------------
@keyframes ShowSearched {
    0% {
        transform: translateY(100%);
    }
}

//---------------768px-------------------
@media (min-width : 768px) {

    .homePageSearch {
        display: none;
    }
}