.OkatebatBranchNonIranian {
    padding: .4rem 1rem .4rem 0 ;
    position: relative;
    height: fit-content ;

    h1 {
        &:nth-child(1) {
            font-size: 1.5rem;
            margin-bottom: .4rem;
        }
    }
    
    .swiper {
        width: 100%;
        height: 100% ;
    }
    
    .swiper-slide {
        text-align: center;
        width: fit-content !important;
        height: fit-content !important;
        margin-left: 1rem !important;

        // /* Center slide text vertically */
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
}

//-------------------768px-------------------
@media ( min-width : 768px ) {

    .OkatebatBranchNonIranian {
        padding: .4rem 4rem 1rem 0;
    }
}