.OkatebatBranchOffer {
    padding: .4rem 1rem !important;
    position: relative;
    height: 35vh;

    h1 {
        &:nth-child(1) {
            font-size: 1.5rem;
            margin-bottom: .4rem;
        }
    }
    
    .swiper {
        width: 100%;
        height: 100% ;
    }
    
    .swiper-slide {
        text-align: center;
        width: 42vw !important;
        height: fit-content !important;

        // /* Center slide text vertically */
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
}