$text-color: #417F56;

//--------okatebatBranchLink-----------
.okatebatBranchLink {
    display: flex;
    justify-content: center;
    transition: all .3s;
    animation: Show .3s;
    
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-color;
        padding: .5rem 2rem;
        border: 1px solid $text-color;
        border-radius: 4px;
    }
}

//---------------keyframes------------------
@keyframes Show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}