.OkatebatBranchNonIranian {
    position: relative;
    height: fit-content;
    padding: 1rem 1rem 1rem 0;

    h1 {
        &:nth-child(1) {
            font-size: 1.4rem;
            margin-bottom: .2rem;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        padding: .4rem 0;
    }

    .swiper-slide {
        text-align: center;
        height: fit-content !important;
        width: fit-content !important;

    }
}

//-------------------768px-------------------
@media (min-width : 768px) {
    .OkatebatBranchNonIranian {
        padding: .4rem 6% 1rem 0;

        h1 {
            &:nth-child(1) {
                font-size: 1.6rem;
                padding: .3rem 0;
            }
        }
    
    }
}