$text-color: #003c2f;
$text-color-white: #fff;
$background-color-white: #fff;
$border-color: #417F56;

.OkatebatBranchBanner {

    .OkatebatBranchBannerField1 {
        position: relative;
        height: 24vh;
        padding: .8rem 0;


        .OkatebatBranchBannerHeader {
            text-align: center;
            font-size: .8rem;
            padding: .2rem 0;
            color: $text-color;
        }

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            filter: brightness(.5);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: $text-color-white;
        }
    }

    .OkatebatBranchBannerAddress {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        background-color: $background-color-white;
        padding: .2rem .4rem;
        border-radius: 6px;
        border: 2px solid $border-color;

        p {
            padding: .15rem .4rem;
            display: flex;
            align-items: center;
            font-size: .8rem;
        }

        img {
            margin-left: 4px;
        }
    }
}

//-----------------768px----------------
@media (min-width : 768px) {

    .OkatebatBranchBanner {

        .OkatebatBranchBannerField1 {
            height: 44vh;
            padding: 2rem 0;

            .OkatebatBranchBannerHeader {
                font-size: .9rem;
            }

            .swiper-slide {

                img {
                    width: 100%;
                    height: 160%;
                }
            }
        }

        .OkatebatBranchBannerAddress {
            width: 60%;
            margin-top: -2rem;
            border: 3px solid $border-color;

            p {
                flex-direction: column;
                font-size: 1.2rem;
                width: 33%;
                text-align: center;
            }

            img {
                width: 25px;
                margin-bottom: .3rem;
            }
        }
    }

}