:root {
    --background-buttons: rgb(40, 180, 120);
    --background-button-hove: rgb(17, 213, 138);
    --text-placeHolder-color:rgb(166, 186, 180);
}

.signUp {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30%;
}

//------------signUpForm----------------
.signUpForm {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    // margin-top: 30%;
    animation: Show .3s;

    label {
        color: #044c48;
        padding: .2rem;
    }

    input {
        border: 1px solid var(--background-buttons);
        padding: 8px;
        border-radius: 6px;

        &::placeholder {
            font-size: .8rem;
            color:var(--text-placeHolder-color);
        }

        &:focus {
            outline: none;
        }
    }

    .inputInvalid {
        border: 1px solid red;
    }
}

//-----------imageSignUp---------------
.imageSignUp {
    margin: auto;

    img {
        width: 100px;
    }
}

//------------inputSignUp---------------
.inputSignUp {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;    
    height: 60px;
    transition: all .3s;

    span {
        color: rgb(255, 6, 6);
        text-shadow: 2px 2px 4px rgb(255, 0, 0);
        font-size: .5rem;
        padding: 2px;
        animation: Show .3s;
    }

}

//-------------checkboxSignUp----------------
.checkboxSignUp {
    display: flex;
    align-items: center;
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 2.5rem;

    div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 60%;
    }

    span {
        color: rgb(255, 6, 6);
        text-shadow: 2px 2px 4px rgb(255, 0, 0);
        font-size: .5rem;
        animation: Show .3s;
    }

    input {
        appearance: none;
        transition: all .3s;
        border: 4px solid #769b93;
        margin-right: .5rem;
        cursor: pointer;

        &:checked {
            border-radius: 50%;
            background-color: #14564c;
            border: 4px solid #baece0;
            transition: all .3s;
        }
    }
}

//------------buttonSignUp----------------
.buttonSignUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    button {
        border: none;
        padding: .2rem 2rem;
        font-size: 1.3rem;
        background-color: var(--background-buttons);
        border-radius: 6px;
        color: #fff;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            background-color: var(--background-button-hove);
            transition: all .3s;
        }
    }

    a {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--background-buttons);
        border: solid 2px #fff;
        border-bottom: 2px solid var(--background-buttons);
        padding: 0 .5rem;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            color: var(--background-button-hove);
            border-bottom: 2px solid var(--background-button-hove);
            transition: all .3s;
        }
    }
}

//-------------Keyframes----------------
@keyframes Show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

//------------------768px-----------------------
@media (min-width : 768px) {
    .signUp {
        padding: 0;
    }

    .signUpForm {
        padding: 2rem;
        width: 35%;
        margin: auto;
        border: 1px solid var(--background-buttons);
        border-radius: 8px;
    }

    .checkboxSignUp ,.inputSignUp {

        span {
            font-size: .6rem;
        }
    }

}